.mpd/pid
database
sticker.sql
playlists/
error.log
.local/share/
.local/share/nvim
.local/share/nvim/
.local/state/nvim
.zcompdump
.config/nvim/plugin


.config/gtk-3.0/bookmarks

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.local/src/suckless/dmenu/dmenu
.local/src/suckless/dmenu/dmenu.o
.local/src/suckless/dwm/dwm
.local/src/suckless/st/st
.local/src/suckless/dmenu/stest

.local/src/suckless/dmenu/stest
